@import url("https://fonts.googleapis.com/css?family=Muli");
.button-primary {
  display: flex;
  align-items: center;
  vertical-align: middle;
  border: 0;
  color: #ff8002;
  background-color: #ffd8b2;
  font-weight: bold;
  padding: 1.3em;
  font-size: 1em;
  border-radius: 1em; }
  .button-primary:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 10px 5px white;
    -webkit-box-shadow: 0 0 10px 5px white;
    box-shadow: 0 0 10px 5px white; }

.round-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0.2em solid #ffd8b2;
  background-color: #a7a7a7;
  border-radius: 100%; }
  .round-icon:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 30px 5px white;
    -webkit-box-shadow: 0 0 30px 5px white;
    box-shadow: 0 0 30px 5px white; }

.LoginPage {
  display: flex;
  height: 100vh;
  color: #fff;
  font-family: "Muli";
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column; }
  .LoginPage div {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column; }
  .LoginPage .logo {
    width: 60vw;
    min-width: 30em;
    max-width: 50em;
    margin-bottom: 15vh; }
  .LoginPage form {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90vw;
    display: flex;
    justify-content: center; }
    .LoginPage form input {
      font-size: 1.6em;
      padding: 0.7em;
      border: 0; }
    .LoginPage form .text-box {
      min-width: 25em;
      max-width: 35em;
      width: 30vw;
      color: #ea7805;
      font-weight: bold;
      padding-left: 1.5em;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      border: 3px solid #fff; }
      .LoginPage form .text-box:focus {
        border: 3px solid #7de6e6; }
    .LoginPage form .submit {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0.3em solid #fa9128; }
  .LoginPage a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder; }
    .LoginPage a:visited {
      color: #fff;
      text-decoration: none; }
    .LoginPage a:hover {
      color: #b85e04;
      text-decoration: none; }

.sign-up-page {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "Muli"; }
  .sign-up-page .container {
    display: flex;
    height: 100%;
    margin: 0 20% 0 20%;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .sign-up-page .container h1 {
      font-size: 72pt; }
    .sign-up-page .container h2 {
      margin-top: 5vh; }

.signup-form form {
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
  justify-content: center;
  align-items: center; }

.signup-form .forms {
  width: 45%;
  max-width: 40em;
  min-width: 25em; }

.signup-form .text-box {
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  border: 0;
  border-radius: 1em;
  border: 3px solid #fff;
  color: #ea7805;
  font-weight: bold; }
  .signup-form .text-box:focus {
    border: 3px solid #7de6e6; }

.signup-form .long {
  width: 90%; }

.signup-form .inline {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .signup-form .inline input {
    width: 42%; }
  .signup-form .inline left {
    margin-right: 9%; }

.signup-form .submit-button {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 1.3em;
  border: 0;
  color: #ff8002;
  background-color: #ffd8b2;
  font-weight: bold;
  font-size: 1em;
  border-radius: 1em; }

.signup-flag-buttons {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .signup-flag-buttons a {
    display: flex;
    flex-direction: column;
    margin: 0 1vw 0 1vw; }
    .signup-flag-buttons a img {
      border-radius: 100%;
      max-height: 7em;
      max-width: 7em;
      border: 0.2em solid #ffd8b2; }
      .signup-flag-buttons a img:hover {
        cursor: pointer;
        -moz-box-shadow: 0 0 30px 5px white;
        -webkit-box-shadow: 0 0 30px 5px white;
        box-shadow: 0 0 30px 5px white; }
    .signup-flag-buttons a p {
      align-self: center;
      font-weight: bolder;
      font-size: 1em; }

.HubPage {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Muli";
  padding: 3vh 6vh 3vh 6vh; }
  .HubPage h2 {
    align-self: center;
    margin: 0 0 10vh 0;
    font-size: 4em;
    min-width: 300px; }
  .HubPage h5 {
    align-self: center;
    color: #fddebe;
    font-size: 2em;
    margin: 0; }
  .HubPage .inline {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .HubPage .inline h1 {
      margin: 0 5% 0 0;
      width: 170px;
      font-size: 200px; }

.Icons {
  display: flex; }
  .Icons .icon {
    margin: 0 0.8em 0 0.8em;
    width: 5em;
    height: 5em; }
  .Icons .view-achievements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.2em solid #ffd8b2;
    background-color: #fcc48c;
    border-radius: 1em;
    margin: 0 0.8em 0 0.8em;
    width: 8em;
    height: 3em; }
    .Icons .view-achievements p {
      align-self: center;
      text-align: center;
      font-weight: bolder; }
    .Icons .view-achievements:hover {
      cursor: pointer;
      -moz-box-shadow: 0 0 30px 5px white;
      -webkit-box-shadow: 0 0 30px 5px white;
      box-shadow: 0 0 30px 5px white; }
  .Icons .achievements {
    padding-top: 1em; }

.hub-page-buttons {
  display: flex;
  margin-top: 10vh;
  justify-content: center;
  align-items: center; }
  .hub-page-buttons a {
    display: flex;
    flex-direction: column;
    margin: 0 1vw 0 1vw; }
    .hub-page-buttons a img {
      border-radius: 100%;
      max-height: 7em;
      max-width: 7em;
      border: 0.2em solid #ffd8b2; }
      .hub-page-buttons a img:hover {
        cursor: pointer;
        -moz-box-shadow: 0 0 30px 5px white;
        -webkit-box-shadow: 0 0 30px 5px white;
        box-shadow: 0 0 30px 5px white; }
    .hub-page-buttons a p {
      align-self: center;
      font-weight: bolder;
      font-size: 1em; }

.achievements {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: "Muli";
  padding: 3vh 6vh 3vh 6vh; }
  .achievements h1 {
    font-size: 3vw;
    font-weight: bold; }

.Statistics {
  display: flex;
  justify-content: space-around; }
  .Statistics .icondata {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .Statistics .icondata .icon {
      margin: 0 1.5em 0 1.5em;
      width: 8em;
      height: 8em; }
    .Statistics .icondata p {
      font-size: 1.2em;
      font-weight: bold; }

.Badges {
  width: 90%;
  max-width: 70em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .Badges div {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .Badges div .badge {
      margin: 0 1.5em 0 1.5em;
      width: 6em;
      height: 6em; }
    .Badges div p {
      font-size: 1em;
      font-weight: bold; }

body {
  background-color: #fa9128;
  margin: 0;
  border: 0;
  padding: 0; }

/*# sourceMappingURL=styles.css.map */