.achievements {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $white;
    font-family: $main;
    padding: 3vh 6vh;
    h1 {
        font-size: 3vw;
        font-weight: bold;
    }
    h3 {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bolder;
        padding: 1.3em;
        &:visited {
            color: $primary;
            text-decoration: none;
        }
        &:hover {
            color: darken($primary, 20%);
            text-decoration: none;
        }
    }
}

.Statistics {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    .icondata {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .icon {
            margin: 0 1.5em;
            width: 8em;
        }
        p {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

.Badges {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 15em;
        .badge {
            width: 6em;
        }
        p {
            font-size: 1em;
            font-weight: bold;
        }
    }
}