.chat-page {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.remote-video-container {
  background-color: black;
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  margin: 0;
  padding: 0;
}

.side-bar {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.prompts-list {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 1em 1em 0.5em 1em;
  // overflow: scroll;
}

.translation-boxes {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 0.5em 1em 1em 1em;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    textarea {
      padding: 1em;
      height: 50%;
      border-radius: 1em;
      border: 3px solid $white;
      &:focus {
        border: 3px solid $contrast;
      }
    }
  }
}

.remote-video-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  .ab-bottom {
    position: absolute;
    bottom: 0;

    height: 20%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;

    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
}

.local-video-container {
  height: 100%;
  align-self: flex-end;
  flex: 1 0 0;

  margin-left: 1em;
  margin-right: 1em;
}

.chat-buttons {
  height: 100%;
  align-self: flex-start;
  flex: 2 0 0;

  margin-left: 1em;
  margin-right: 1em;

  display: flex;
  align-items: center;

  .end-call {
    height: 5em;
    width: 5em;
    border-radius: 100%;
    img {
      height: 5em;
      width: 5em;
      transform: rotate(90deg);
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 5px lighten($primary, 50%);
    }
  }
}

.vid {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.prompts-header {
  display: flex;
  justify-content: space-between;

  h2 {
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
  }

  margin-bottom: 0.5em;
  // padding-bottom: 0.5em;
  border-bottom: 0.2em solid $primary-dark;
}