.chat-page {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.remote-video {
  background-color: $white;
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  margin: 0;
  padding: 0;
}

.side-bar {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  margin: 0;
  padding: 0;
}