    .chat-page {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.remote-video-container {
    background-color: black;
    flex: 2 0 0;
    margin: 0;
    padding: 0;
}

.orange-msg-box {
    p {
        color: darken($primary, 20%);
    }
}

.side-bar {
    flex: 1 0 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.prompts-list {
    flex: 1 0 0;
    padding: 1em 1em 0.5em;
}

.translation-boxes {
    flex: 1 0 0;
    padding: 0.5em 1em 1em 1em;
    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        textarea {
            padding: 1em;
            height: 50%;
            border-radius: 1em;
            border: 3px solid $white;
            &:focus {
                border: 3px solid $contrast;
            }
        }
    }
}

.remote-video-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    .ab-bottom {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 1em 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.local-video-container {
    width: 30%;
    margin-left: 1em;
    margin-right: 1em;
}

.chat-buttons {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    .end-call {
        height: 5em;
        width: 5em;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            transform: rotate(90deg);
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px 5px lighten($primary, 50%);
        }
    }
}

.progress-bar {
    height: 2em;
    width: 70%;
    position: relative;
    border-radius: 5em;
    background-color: #8b6316;
    .dynamic-bar {
        border-radius: 5em;
        height: 100%;
        background-color: $primary;
    }
}

.vid {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 1em;
}

.prompts-header {
    display: flex;
    justify-content: space-between;
    h2 {
        color: $white;
        font-weight: 900;
        text-transform: uppercase;
    }
    margin-bottom: 0.5em;
    border-bottom: 0.2em solid $primary-dark;
}

.feedback {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: darken($primary, 20%);
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    margin: 0;
    padding: 0;
    div {
        display: flex;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    img {
        .button-primary p {
            text-decoration: none;
            color: darken($primary, 20%);
        }
        width: 120px;
        height: 120px;
        margin: 3em 1em 3em 1em;
    }
    .selected {
        -moz-box-shadow: 0 0 50px 22px $primary;
        -webkit-box-shadow: 0 0 50px 22px $primary;
        box-shadow: 0 0 50px 22px $primary;
    }

    .button-primary a {
    text-decoration: none;
    color: $primary-dark;
    }
}

// Animation for remote video
.rv-anim-appear {
    animation: fadein 1000ms ease;
}

@keyframes fadein {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 1;
    }
}

.rv-anim-leave {
    animation: tobottom 800ms ease-in-out;
}

@keyframes tobottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0.01;
    }
}

// Animation for feedback
.fb-anim-appear {
    opacity: 0.01;
    animation: fromtop 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fromtop {
    from {
        transform: translateY(-100%);
        opacity: 0.01;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
    .chat-loading {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        color: darken($primary, 16%);
        -webkit-flex: 2 0 0;
        flex: 2 0 0;
        margin: 0;
        padding: 0;
        background-color: lighten($primary, 10%);
    }
