.button-primary {
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 0;
    color: $primary;
    background-color: $primary-light;
    font-weight: bold;
    padding: 1.3em;
    font-size: 1em;
    border-radius: 1em;
    a {text-decoration: none;}
    &:hover {
        cursor: pointer;
        color: darken($primary, 20%);
        -moz-box-shadow: 0 0 10px 5px lighten($primary, 50%);
        -webkit-box-shadow: 0 0 10px 5px lighten($primary, 50%);
        box-shadow: 0 0 10px 5px lighten($primary, 50%);
    }
}

.button-linking {
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 0;
    color: $primary-dark;
    background-color: $primary-light;
    font-weight: bold;
    font-size: 1em;
    border-radius: 1em;
    p {color: darken($primary, 20%);}
    a {text-decoration: none;}
    &:hover {
        cursor: pointer;
        color: darken($primary, 20%);
        -moz-box-shadow: 0 0 10px 5px lighten($primary, 50%);
        -webkit-box-shadow: 0 0 10px 5px lighten($primary, 50%);
        box-shadow: 0 0 10px 5px lighten($primary, 50%);
    }
    outline: none;
}

.round-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &:hover {
        cursor: pointer;
        -moz-box-shadow: 0 0 30px 5px lighten($primary, 50%);
        -webkit-box-shadow: 0 0 30px 5px lighten($primary, 50%);
        box-shadow: 0 0 30px 5px lighten($primary, 50%);
    }
}

.round-icon-static {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.orange-msg-box {
    padding: 1em;
    border: 0.2em solid $primary-light;
    background-color: $white;
    border-radius: 1em;
    margin: 0.5em 0 0.5em 0;
    p {
        margin: 0;
        font-size: 1em;
        color: $primary;
    }
}

// .rotate {
//     &hover {
//         animation: spin;
//     }
// }

// @keyframes spin {
//     from {transform:rotate(0deg);}
//     to {transform:rotate(360deg);}
// }