.button-primary {
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 0;
    color: $primary-dark;
    background-color: $primary-light;
    font-weight: bold;
    padding: 1.3em;
    font-size: 1em;
    border-radius: 1em;
    &:hover {
        cursor: pointer;
        -moz-box-shadow: 0 0 10px 5px lighten($primary, 50%);
        -webkit-box-shadow: 0 0 10px 5px lighten($primary, 50%);
        box-shadow: 0 0 10px 5px lighten($primary, 50%);
    }
}

.round-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.2em solid $primary-light;
    background-color: #a7a7a7;
    border-radius: 100%;
    &:hover {
        cursor: pointer;
        -moz-box-shadow: 0 0 30px 5px lighten($primary, 50%);
        -webkit-box-shadow: 0 0 30px 5px lighten($primary, 50%);
        box-shadow: 0 0 30px 5px lighten($primary, 50%);
    }
}